* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

h2 {
    text-align: center;
}


/* 캠핑 위시 리스트 표 좌우 조절*/
.campingListTB {
    width: 100%;
}

.campingListTB th:first-child {
    width: 8%;
}

.campingListTB th:nth-child(2) {
    width: 8%;
}

.campingListTB th:nth-child(3) {
    width:10%
}
.campingListTB th:nth-child(4) {
    width: 66%;
}

.campingListTB th:last-child {
    width: 8%;
}


td {
    height: 100px;
}

/* 아이템 위시 리스트 표 좌우 조절*/
.itemListTb {
    width: 100%;

}

.itemListTb th:first-child {
    width: 8%;
}

.itemListTb th:nth-child(2){
    
}
.itemListTb th:nth-child(3){

}
.itemListTb th:nth-child(4){

}
.itemListTb th:nth-child(5){

}
.itemListTb th:nth-child(6){

}
.itemListTb th:last-child {

}



img {
    max-height: 100%;
    width: auto;
    object-fit: contain;
}

.mainContainer {
    display: flex;
       
}

.midContainer {
    width: 90%;
}


/*좌우 빈공간*/
.emptyContainer {
    width : 5%;
}

